table {
  width: 70%;
  margin: auto;
  background-color: #292929;
}

table th {
  padding-top: 10px;
  font-size: 1rem;
}
.edit {
  margin-right: 10px;
}

.edit > i {
  color: #26b5d9;
}

.delete > i {
  color: #e35e6b;
}
