<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <img
        src="https://bulma.io/images/bulma-logo.png"
        width="112"
        height="28"
      />
    </a>

    <a
      (click)="toggleNavbar()"
      role="button"
      #navBurger
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"> </span>
      <span aria-hidden="true"> </span>
      <span aria-hidden="true"> </span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu" #navMenu>
    <div class="navbar-start">
      <a
        class="navbar-item"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Home
      </a>

      <a class="navbar-item" routerLink="/products" routerLinkActive="active">
        Produtos
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong> Inscreva-se </strong>
          </a>
          <a class="button is-light"> Conecte-se </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
